/**

	common mixins used
	
		to use a mixin
		
			@incluse { mixin name here };

*/
/***** alignments */
	@mixin v-align {
	  position: relative;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	}
	@mixin h-align {
	  position: relative;
	  left: 50%;
	  -webkit-transform: translateX(-50%);
	  -ms-transform: translateX(-50%);
	  transform: translateX(-50%);
	}

/***** transitions */
	@mixin t-01{
		transition:all 0.1s ease-in-out;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
	}
	@mixin t-02{
		transition:all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
	}
	@mixin t-03{
		transition:all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
	}
	
/***** box shadows */
	@mixin bs-1{
		box-shadow:inset 0px 0px 1px rgba(147, 149, 152, 0.5);
		-webkit-box-shadow:inset 0px 0px 1px rgba(147, 149, 152, 0.5);
		-moz-box-shadow:inset 0px 0px 1px rgba(147, 149, 152, 0.5);
		-ms-box-shadow:inset 0px 0px 1px rgba(147, 149, 152, 0.5);
		-o-box-shadow:inset 0px 0px 1px rgba(147, 149, 152, 0.5);
	}
	@mixin bs-2{
		box-shadow:0px 3px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow:0px 3px 3px rgba(0,0,0,0.5);
		-moz-box-shadow:0px 3px 3px rgba(0,0,0,0.5);
		-ms-box-shadow:0px 3px 3px rgba(0,0,0,0.5);
		-o-box-shadow:0px 3px 3px rgba(0,0,0,0.5);
	}
	@mixin bs-3{
		box-shadow:0px 0px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow:0px 0px 3px rgba(0,0,0,0.5);
		-moz-box-shadow:0px 0px 3px rgba(0,0,0,0.5);
		-ms-box-shadow:0px 0px 3px rgba(0,0,0,0.5);
		-o-box-shadow:0px 0px 3px rgba(0,0,0,0.5);
	}
	
/***** text shadows */
@mixin ts-1{
	text-shadow:0px 0px 0.5px rgba(0,0,0,0.3);
	-webkit-text-shadow:0px 0px 0.5px rgba(0,0,0,0.3);
	-moz-text-shadow:0px 0px 0.5px rgba(0,0,0,0.3);
	-ms-text-shadow:0px 0px 0.5px rgba(0,0,0,0.3);
	-o-text-shadow:0px 0px 0.5px rgba(0,0,0,0.3);
}

@mixin bak-img{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
